@page
@model Pet.WEB.Areas.ShowAdvert.Pages.ShowAdverts.AdvertsShowedModel
@{
}
<link  href="/css/Cards.css"/>
 <div class="container mb-2">
        <div class="cardcontainer border-1 border-success">
            <div class="photo">
                @foreach (var item in Model.Adverts)
                {
                    <img src="@item.Url">
                
                }
            </div>
            <div class="content">
                @foreach (var item in Model.Adverts)
                {
                    <p class="txt4">@item.LivingName</p>
                    <p class="txt5">@item.AdvertNo</p>
                }
                
            </div>
                
            <div class="footerlar">
                <p><a class="btn btn-outline-success" href="#">Detaylar</a><a id="heart"></a></p>
               
            </div>
        </div>
    </div>
