@page
@model Pet.WEB.Areas.ShowAdvert.Pages.ShowAdverts.AdvertsShowedModel
@{
}
<link  href="/css/Cards.css"/>
 <div class="container mb-2">
        <div class="cardcontainer border-1 border-success">
            <div class="photo">
                <img src="~/dist/img/Cat&Dog.png">
            </div>
            <div class="content">
                <p class="txt4">City Lights In Newyork</p>
                <p class="txt5">A city that never</p>
            </div>
            <div class="footerlar">
                <p><a class="btn btn-outline-success" href="#">Detaylar</a><a id="heart"></a></p>
               
            </div>
        </div>
    </div>
