@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Hesabınız onaylandı";
}

<div class="container mt-5">
<h1 class="text text-success">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>