@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Hesabınız onaylandı";
}

<h1 class="text text-success">@ViewData["Title"]</h1>
<h6 class="text text-primary">Hesabınızı onayladığınız için teşekkür ederiz</h6>
<partial name="_StatusMessage" model="Model.StatusMessage" />
