@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main class="form-signin w-auto m-auto">
    <div class="container">
        <div class="row">
           <div class="col-md-4 col-lg-6">
               <br />
               <br />
               <br />
               <br />
           </div>
           <div class="col-md-6 col-lg-6">
               <br />
           </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 ">
                <img src="~/dist/img/CD.jpg" class="img-fluid" alt="cat&dog resmi">
            </div>
            <div class="col-md-6 col-lg-6">
                <section class="vh-100">
                    <form id="account" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-bold mb-0 me-3">Giriş yap</p>
                                <button type="button" class="btn btn-link  mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                 <i class="fab fa-linkedin-in"></i>
                                </button>
                        </div>
                        <div class="divider d-flex align-items-center my-4">
                                <p class="lead fw-normal mx-0 mb-0">Veya</p>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-outline w-75 mb-4">
                            <input asp-for="Input.UserName" class="form-control form-control-lg" id="form3Example3" placeholder="Kullanıcı adınızı giriniz"/>
                            <label asp-for="Input.UserName" class="form-label">Kullanıcı Adı</label>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-outline w-75 mb-3">
                            <input asp-for="Input.Password" class="form-control form-control-lg" id="form3Example4" placeholder="Şifre gir" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label">Şifre</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="container ">
                            <div class="row">
                                <div class="w-75 d-flex justify-content-between align-items-baseline">
                                    <div class="w-50 col-md-6 form-check mb-1 align-items-baseline">
                                        <label asp-for="Input.RememberMe" class="form-check-label" id="form3Example3" >
                                        <input class="form-check-input me-2" asp-for="Input.RememberMe"  />
                                        <label asp-for="Input.RememberMe" class="form-check-label" for="form2Example3">
                                            Beni hatırla
                                        </label>
                                        </label>
                                        <br />
                                    </div>
                                    <div>
                                        <a class="w-50 col-md-3 text-body" id="forgot-password" asp-area="Identity" asp-page="./ForgotPassword">Şifremi unuttum</a>
                                    </div>
                                    <div>
                                        <a class="w-50 col-md-3 text-body" id="forgot-password" asp-area="Identity" asp-page="./Register">Kayıt Ol</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                                <input id="login-submit" type="submit" class="w-25 btn btn-lg btn-success" value="Giriş Yap"/>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
