@using Microsoft.AspNetCore.Identity
@using Pet.Entities.Concrete
@inject SignInManager<User> _SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pet.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pet.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/Pulings/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/pulings/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/pulings/cssp/alt/adminlte.components.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom ">
            
                        <div class="navbar-collapse collapse d-sm-inline-flex col-5 justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                
                                    <li>
                                        <a  asp-controller="Home" asp-action="Index"><img src="~/dist/img/Logo.png" class="img-fluid" alt="cat&dog resmi"></a>
                                        
                                    </li>
                                

                            </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex col-7 justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                  <li class="nav-item d-none d-sm-inline-block">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                  </li>
                                  <li class="nav-item d-none d-sm-inline-block">
                                    <a href="#" class="nav-link">
                                      <img src="/dist/img/cat.png" /> Kedi</a>
                                  </li>
                                  <li class="nav-item d-none d-sm-inline-block">
                                    <a href="#" class="nav-link">
                                      <img src="/dist/img/dog.png" /> Köpek</a>
                                  </li> 
                            </ul>
                            <ul class="navbar-nav flex-grow">
                                @if (!_SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item d-none d-sm-inline-block">
                                        <a class="nav-link text" asp-area="Identity" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                                    </li>

                                    <li class="nav-item d-none d-sm-inline-block">
                                        <a class="nav-link text" asp-area="Identity" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                    <div class="pr-3">
                                        <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center text-dark text-decoration-none">
                                          <img src="~/dist/img/avatar.png" alt="" width="32" height="32" class="rounded-circle me-2">
                                          <strong class="text-dark">@User.Identity.Name</strong>
                                        </a>
                                      </div>
                                      </li>
                                }
                            </ul>
                        
                        </div>

                    </nav>
            </div>
        </div>
    </header>
    
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - İsak Yıldırım - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/css/pulings/jquery/jquery.min.js"></script>
    <script src="js/adminlte.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
