
<style>
#display-image{
  width: 350px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
</style>





<input  type="file" id="image-input" accept="image/jpeg, image/png, image/jpg">


  <div id="display-image"></div>
  <label class="text text-success">Resim eklemelisin</label>


  <script>
      const image_input = document.querySelector("#image-input");

image_input.addEventListener("change", function() {
  const reader = new FileReader();
  reader.addEventListener("load", () => {
    const uploaded_image = reader.result;
    document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
  });
  reader.readAsDataURL(this.files[0]);
});

  </script>