@page
@model Pet.WEB.Areas.Pet.Pages.AddPet.AddPetIndexModel


<div class="container m-3">
    <form id="addPetForm" method="post">
        <div class="row mx-5">

            <div class="col-6">
                <div class="form-outline w-50 mb-4">
                    <input asp-for="Input.LivingName" class="form-control form-control-lg" id="form3Example3" placeholder="Petinizin adını giriniz" />
                    <span asp-validation-for="Input.LivingName" class="text-danger"></span>
                </div>
                <div class="form-outline w-50 mb-4">
                    <select asp-for="Input.Kind.KindName" class="form-control form-control-lg" asp-items="Model.Kinds">
                        <option value="" selected disabled hidden>Tür seçiniz</option>
                    </select>
                    <span asp-validation-for="Input.Kind.KindName" class="text-light"></span>
                </div>
                <div class="form-outline w-50 mb-4">
                    <select asp-for="Input.LivingGender"  class="form-control form-control-lg">
                        <option value="" selected disabled hidden>Cinsiyet Seçiniz</option>
                        <option value="true">Dişi</option>
                        <option value="false">Erkek</option>
                    </select>
                    <span asp-validation-for="Input.LivingGender" class="text-danger"></span>
                </div>
                <div class="form-outline w-50 mb-4">
                    <select asp-for="Input.Genus.GenusName" class="form-control form-control-lg" asp-items="Model.Genuses">
                        <option value="" selected disabled hidden>Cins seçiniz</option>
                    </select>
                    <span asp-validation-for="Input.Genus.GenusName" class="text-light"></span>
                </div>
                <div class="form-outline w-50 mb-4">
                    <input asp-for="Input.LivingAge" class="form-control form-control-lg" id="form3Example3" placeholder="Petinizin yaşını giriniz" />
                    
                </div>
            </div>
            <div class="col-6">
                <div class="form-label w-75 mb-4">
                    <input type="file" accept="image/*" asp-for="Input.LivingAge" class="form-control form-control-lg " id="form3Example3" />
                    
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts
{

    <script type="text/javascript">
        $("#Input_Kind_KindName").change(function() {
            var id = $("#Input_Kind_KindName option:selected").text();
            var url = 'https://localhost:7239/api/AddPetForKind/GetPetWithName?input='+id
            
            console.log(url);
             $.get(url, function(data, status){
                 console.log(data);
                     $('#Input_Genus_GenusName').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#Input_Genus_GenusName').append("<option value='" + data[i].id + "'>" + data[i].genusName + "</Option>");
                    }
                  });
        });
    </script>
}