@page
@model Pet.WEB.Areas.Pet.Pages.AddPet.AddPetIndexModel

<style>
#display-image{
  width: 300px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
</style>

<div class="container mt-2 mb-2 p-3">
    <form id="addPetForm" method="post" enctype="multipart/form-data">
        <div class="row ">

            <div class="col-5">
                <div class="form-outline w-75 mb-2">
                    <input asp-for="Input.LivingName" required class="form-control form-control-lg" id="form3Example3" placeholder="Petinizin adını giriniz" />
                    <span asp-validation-for="Input.LivingName" class="text-danger"></span>
                </div>
                <div class="form-outline w-75 mb-2">
                    <select asp-for="Input.KindId" required class="form-control form-control-lg" asp-items="Model.Kinds">
                        <option value="" selected disabled hidden>Tür seçiniz</option>
                    </select>
                    <span asp-validation-for="Input.KindId" class="text-light"></span>
                </div>
                <div class="form-outline w-75 mb-2">
                    <select asp-for="Input.LivingGender" required class="form-control form-control-lg">
                        <option value="" selected disabled hidden>Cinsiyet Seçiniz</option>
                        <option value="true">Dişi</option>
                        <option value="false">Erkek</option>
                    </select>
                    <span asp-validation-for="Input.LivingGender" class="text-danger"></span>
                </div>
                <div class="form-outline w-75 mb-2">
                    <select asp-for="Input.GenusId" required class="form-control form-control-lg" asp-items="Model.Genuses">
                        <option value="" selected disabled hidden>Cins seçiniz</option>
                    </select>
                    <span asp-validation-for="Input.GenusId" class="text-light"></span>
                </div>
                <div class="form-outline w-75 mb-2">
                    <input asp-for="Input.LivingAge" required class="form-control form-control-lg" id="form3Example3" placeholder="Petinizin yaşını giriniz" />

                </div>
            </div>
            <div class="col-4">
                <div class="form-label w-100 mb-2">
                    <input asp-for="Input.formFile" required>
                    <div id="display-image"></div>
                    <span asp-validation-for="Input.formFile" class="text-light" ></span>
                    <label  class="text text-success">Resim eklemelisin</label>
                </div>
                <div class="form-outline w-75 mb-2">
                    <input asp-for="Input.Description" required class="form-control form-control-lg" id="form3Example3" placeholder="Fotoğraf açıklaması" />
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">

                <div class="col-md-4 px-6">
                    <input id="Submit" type="submit" class="w-100 btn btn-lg btn-success" value="Pet Ekle">
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts
    {

    <script type="text/javascript">
        $("#Input_KindId").change(function() {
            var id = $("#Input_KindId option:selected").text();
            var url = 'https://localhost:7239/api/AddPetForKind/GetPetWithName?input=' + id

            console.log(url);
            $.get(url, function(data, status) {
                console.log(data);
                $('#Input_GenusId').empty();
                for (var i = 0; i < data.length; i++) {
                    $('#Input_GenusId').append("<option value='" + data[i].id + "'>" + data[i].genusName + "</Option>");
                }
            });
        });
    </script>
  <script>
      const image_input = document.querySelector("#Input_formFile");

image_input.addEventListener("change", function() {
  const reader = new FileReader();
  reader.addEventListener("load", () => {
    const uploaded_image = reader.result;
    document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
  });
  reader.readAsDataURL(this.files[0]);
});

  </script>
}