@page
@model Pet.WEB.Areas.Adverts.Pages.UserAdvertAdd.AddAdvertsModel
@{
}


<div class="container mt-5">
    <h1>Yeni İlan Ekle</h1>
    <div class="row">
        <form id="addadvertForm" method="post">
            <div class="col-6">
                @*<div class="form-floating w-75">
                    <select asp-for="Input.Gender" class="form-control mb-2" >
                        <option value="" selected disabled hidden>Seçiniz</option>
                        <option value="true">Kadın</option>
                        <option value="false">Erkek</option>
                    </select>
                    <label asp-for="Input.Gender"></label>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>*@
            </div>
            <div class="col-6">
                <h3>col2</h3>
            </div>
        </form>
    </div>
</div>
