@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    

<body>
    <div class="container mb-2">
        <div class="cardcontainer border-1 border-success">
            <div class="photo">
                <img src="~/dist/img/Cat&Dog.png">
            </div>
            <div class="content">
                <p class="txt4">City Lights In Newyork</p>
                <p class="txt5">A city that never</p>
            </div>
            <div class="footerlar">
                <p><a class="btn btn-outline-success" href="#">Detaylar</a><a id="heart"></a></p>
               
            </div>
        </div>
    </div>
</body>